body { 
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-left: 25px;

    /*
    background-image: url("../img/cherry.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;*/
}

body #futurepage{
      background-image:radial-gradient(black 50%), no-repeat, url("../japanhistoryimg/peace7opacity1.png");
      }

h1, h2, h3 { 
	margin: 0;
	padding: 0;
}

p {
	color: #000;
	font-size: 16px;
}
span {
	font-weight: bold;
}
img {
	display: block;
}
a {
	text-decoration: none;
}
address {
	font-style: normal;
}

.clear, .clearfix {
  overflow: auto;
}
.clear::after,
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}

.container p {
	color: #000;
	font-size: 18px;
}
.container p#caption {
	color: #fff;
}

.container h2 {
	color: #006;
	font-size: 36px;
	margin: 54px 0;
	text-align: center;
}

.row-box {
	position: relative;
	display: block;
	width: 100%;
	clear: left;
}
.col {
	float: left;
	width: 50%;
}

/* Style for Nav Bar */
#nav {
	display: block;
	position: relative;
	margin-bottom: 0px; 
	color: #373a3c;
}
#nav .logo { 
	float: left; 
	margin-left: 5%;
}
#nav .nav-list { 
	float: right;
	font-weight: bold;
	font-size: 16px;
	margin-right: 50px;
}
#nav .nav-list a { 
	color: #373a3c;
}
ul.navbar {
	display: block;
	text-align: right;
	margin: 15% 0 0 0;
}
.navbar li {
	font-size: 16px;
	display: inline;
	margin-right: 55px;
}

/*Introduction banner box */
#land{background-color: #009ddc;
 	background-size: cover;
 	background-repeat: no-repeat;
 	padding: 5%;}
 	
#banner {
	background-image: url("../img/Mt.fuji2.jpg");
 	background-color: #009ddc;
 	background-size: cover;
 	background-repeat: no-repeat;
 	padding: 10%;
}
.bannerwrapper {
	padding: 5%;
}
#jbanner {
	background-image: url("../img/Japan.jpg");
	background-color: #ffccff;
	background-size: cover;
 	background-repeat: no-repeat;
 	padding: 5%;
 	height: 300px;
}
.jbannerwrapper h1 {
	font-size: 64px;
	text-transform: uppercase;
	text-align: center;
	color: #cc0066;
}

.bannerwrapper h1 {
	font-size: 64px;
	text-transform: uppercase;
	text-align: center;
	color: #cc0066;
}
 .bannerword p {
	font-size: 15px;
	color: #006;
	font-weight: 400;
	text-align: center;
	padding: 5 10;

}

/* Styling for about box */

.about-container {
	position: relative;
	display: block;
	width: 100%;
	/* clear: left; */
}
.about-container h2{
	font-size: 36px;
	color: #006; 
	text-align: center;
	padding-top: 30px;
	padding-bottom: 25px;
	margin-bottom: 20px;
}

/*	float: left;
	width: 30%;
	margin-right: 5%;*/
}
.about-content {
	display: block;
	width: 100%;
	height: 100%;
	margin: 10px;
}

.image-container {
	width: 30%;
	float: left;
	margin: 15px;
	
}
.image-container2{
	width:25%;
	float: left;
	margin-right: 10px;
}
.image-container img {
	width: 100%;
}
.image-container3{
	width:35%;
	float:left;
	margin 0;
}
.image-container p{
	float: left;
}

.inf h3{
	padding-bottom: 10px;
	}
	
.sightimages h2 {
	font-size: 36px;
	color: #006; 
	text-align: center;
	padding-top: 40px;
	padding-bottom: 15px;
}
.sightimages h3 {
	font-size: 20px;
	color: #006; 
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}
.gallary{
	float: left;
	width: 25%;
	margin-right: 5px;

}
.gallary img { width: 100%; margin-bottom: 10px; height: 187px; }

.image-container
table
{
  width:30%;
  margin-left: 20px;
}
td,th
{
  padding: 5px;
  margin:5%;
  border:solid 2px black;
  border-radius:2px;
}
p{font-size: 18px;
	font-weight: thick;
 }
/*.sight-content .image-container img{
	width: 300px;
	height: 200px;
	display: inline;
	float: left;
	padding:5px;
}
/*does not work #sight .container p {position: center}*/

/* Footer HTML5 */
footer {
	background-color: #444;
	color: gray;
	margin-top: 5%;
	padding: 5% 0;
	text-align: center;
}
footer a,
footer a:link,
footer a:visited,
footer a:active {
	color: #fff;
}

/*
Make sure to set grid values in px (not rem, em, or %)
	sm: 	420px,
	md: 	720px,
	lg: 	960px,
	x-lg: 	1024px

----CSS3 transition
-- transition sets
transition: font-size 12s; 	transition is set to font-size at 12 seconds duration
transition: color 12s; 		transition is set to color at 12 seconds duration

-- combine them all into one declaration:
transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;


transition: color 12s, font-size 12s;
-webkit-transition: color 12s, font-size 12s;
   -moz-transition: color 12s, font-size 12s;
     -o-transition: color 12s, font-size 12s;
*/

@media (max-width: 720px) {
	.banner h1 {
		font-size: 32px;
		/*transition: font 3s ease;*/
	}
}
@media (min-width: 960px) {
	.banner h1 {
		font-size: 60px;
		/*transition: font 5s ease;*/
	}
}
/*
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) { 
 	
 	.container, .container-fluid {
	/*background-color: red;
	}*/
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	.container, .container-fluid {
	/*background-color: yellow;
	}*/

}
/*
// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
 		.container, .container-fluid {
		/*background-color: green;
	}*/
 }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	.container, .container-fluid {
	/*	background-color: orange;
	}*/
 
 }
