body { 
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-left: 35px;
    /*
    background-image: url("../img/cherry.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;*/
}
h1, h2, h3 { 
	margin: 0;
	padding: 0;
}

p {
	color: #000;
	font-size: 16px;
}
span {
	font-weight: bold;
}
img {
	display: block;
}
a {
	text-decoration: none;
}
address {
	font-style: normal;
}
.clear {
	overflow: auto;
}

.container p {
	color: #000;
	font-size: 18px;
}
.container h2 {
	color: #006;
	font-size: 36px;
	margin: 54px 0;
	text-align: center;
}

.row-box {
	position: relative;
	display: block;
	width: 100%;
	clear: left;
}
.col {
	float: left;
	width: 50%;
}

/* Style for Nav Bar */
#nav {
	display: block;
	position: relative;
	margin-bottom: 40px; 
	color: #373a3c;
}
#nav .logo { 
	float: left; 
}
#nav .nav-list { 
	float: right;
	font-weight: bold;
	font-size: 16px;
}
#nav .nav-list a { 
	color: #373a3c;
}
ul.navbar {
	display: block;
	text-align: right;
	margin: 15% 0 0 0;
}
.navbar li {
	font-size: 16px;
	display: inline;
	margin-right: 55px;
}

/*Introduction banner box */
#land{background-color: #009ddc;
 	background-size: cover;
 	background-repeat: no-repeat;
 	padding: 5%;}
 	
#banner {
	background-image: url("../img/Mt.fuji2.jpg");
 	background-color: #009ddc;
 	background-size: cover;
 	background-repeat: no-repeat;
 	padding: 5%;
}
.bannerwrapper {
	padding: 5%;
}


.bannerwrapper h1 {
	font-size: 64px;
	text-transform: uppercase;
	text-align: center;
	color: #cc0066;
}
 .bannerword p {
	font-size: 15px;
	color: #006;
	font-weight: 400;
	text-align: center;
	padding: 5 10;

}

/* Styling for about box */

.about-container {
	position: relative;
	display: block;
	width: 100%;
	/* clear: left; */
}
.about-container h2{
	font-size: 36px;
	color: #006; 
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 25px;
	margin-right: 25%;
}
/*	float: left;
	width: 30%;
	margin-right: 5%;*/
}
.about-content {
	display: block;
	width: 100%;

}

.image {
	width: 30%;
	float: left;
	margin-left: 15px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.image h3{
	text-align: left;
	margin: 0 10 20 20;
}

	
}
#sight-content .sightimages h2{
	font-size: 45px;
	color: #006; 
	text-align: center;
	padding-top: 20px;
	padding-bottom: 15px;
}
.sightbox h3{
	font-size: 20px;
	color: #006; 
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}
.gallary{
	float: left;
	width: 25%;
	margin-right: 5px;

}
.gallary img { width: 100%; margin-bottom: 10px; height: 187px; }
/*.sight-content .image-container img{
	width: 300px;
	height: 200px;
	display: inline;
	float: left;
	padding:5px;
}
/*does not work #sight .container p {position: center}*/

/* Footer HTML5 */
footer {
	background-color: #444;
	color: gray;
	margin-top: 5%;
	padding: 5% 0;
	text-align: center;
}
footer a,
footer a:link,
footer a:visited,
footer a:active {
	color: #fff;
}

/*
Make sure to set grid values in px (not rem, em, or %)
	sm: 	420px,
	md: 	720px,
	lg: 	960px,
	x-lg: 	1024px

----CSS3 transition
-- transition sets
transition: font-size 12s; 	transition is set to font-size at 12 seconds duration
transition: color 12s; 		transition is set to color at 12 seconds duration

-- combine them all into one declaration:
transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;


transition: color 12s, font-size 12s;
-webkit-transition: color 12s, font-size 12s;
   -moz-transition: color 12s, font-size 12s;
     -o-transition: color 12s, font-size 12s;
*/

@media (max-width: 720px) {
	.banner h1 {
		font-size: 32px;
		/*transition: font 3s ease;*/
	}
}
@media (min-width: 960px) {
	.banner h1 {
		font-size: 60px;
		/*transition: font 5s ease;*/
	}
}