
body {
    font-family: "Helvetica Neue",Arial,sans-serif;
    background-image: url("img/peaceop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #6CF; 

}
      /*background-image:radial-gradient(black 50%), no-repeat, url("../img/peace7word(1).jpg");
        
}*/
#futurepage{
  radial-gradient 30%;

}


h1{
  color: #BF4904;
  font-size: 60px; 


 
}
  display: block;
  position: relative;
  margin-bottom: 40px;
  margin-right: 50%; 
  color: #373a3c;
}
#nav .logo { 
  float: left;
  margin-top: -20%;
}
#nav .nav-list { 
  float: right;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0%;
  margin-right: 0;
  padding: 0 0 0 0;
}
#nav .nav-list a { 
  color: #000;
}
ul.navbar {
  display: inline-block;
  text-align: right;
  margin: 0% 0% 0% 0%;
  list-style: none;
}
.navbar li a{
  font-size: 18px;
  display: inline;
  margin-right: 15px;
  text-decoration: none;
  list-style: none;
  float: left;
  padding-right: 10px;
}


.row .column {
  padding: 30px 10px;
  margin-top: px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}
.container {padding-top: 160px;}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
.column p{font-size: 18px;
          font-stretch: bold;}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding-top: 0%;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}